.p-0 {
  padding: 0;
}
.p-20 {
  padding: 20px;
}
.p-10 {
  padding: 10px;
}
.p-12 {
  padding: 12px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.m-0 {
  margin: 0;
}
.m-20 {
  padding: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.c-white {
  color: white;
}
.bg-ccc {
  background-color: #ccc;
}
.bg-eee {
  background-color: #eee;
}
.bg-dark {
  background-color: #333;
}
.bg-white {
  background-color: white;
}
.b-none {
  border: none;
}
.outl-none {
  outline: none;
}
.ps-rel {
  position: relative;
}
.ps-abs {
  position: absolute;
}
.ps-fx {
  position: fixed;
}
.top-0 {
  top: 0;
}
.top-50 {
  top: 50%;
}
.right-0 {
  right: 0;
}
.right-50 {
  right: 50%;
}
.bottom-0 {
  bottom: 0;
}
.bottom-50 {
  bottom: 50%;
}
.left-0 {
  left: 0;
}
.left-50 {
  left: 50%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-rev {
  flex-wrap: wrap-reverse;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap-5 {
  gap: 5px;
}
.gap-8 {
  gap: 8px;
}
.gap-10 {
  gap: 10px;
}
.gap-12 {
  gap: 12px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.center-y-flex {
  display: flex;
  align-items: center;
}
.center-x-flex {
  display: flex;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.flex-column-rev {
  flex-direction: column-reverse;
}
.flex-row-rev {
  flex-direction: row-reverse;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fw-n {
  font-weight: normal;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-b {
  font-weight: bold;
}
.m-auto {
  margin-left: auto;
  margin-right: auto;
}
.m-l-auto {
  margin-left: auto;
}
.m-r-auto {
  margin-right: auto;
}
.center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.center-y-abs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.center-x-abs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.rad-half {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.w-100 {
  width: 100px;
}
.w-120 {
  width: 120px;
}
.h-full {
  height: 100%;
}
.h-fit {
  height: fit-content;
}
.h-50 {
  height: 50px;
}
.hover:hover,
.hover *:hover {
  cursor: pointer;
}
.in-hover *:hover,
.in-hover * *:hover {
  cursor: pointer;
}
.ds-inline-block {
  display: inline-block;
}
.ds-block {
  display: block;
}
.ds-flex {
  display: flex;
}
.ds-grid {
  display: grid;
}
.fs-italic {
  font-style: italic;
}
.tt-uppercase {
  text-transform: uppercase;
}
.tt-capitalize {
  text-transform: capitalize;
}
.tt-lower-case {
  text-transform: lowercase;
}
.ff-system {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ls-none {
  list-style-type: none;
}
.space-between {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .sm\:space-between {
    justify-content: space-between;
  }
  .sm\:p-0 {
    padding: 0;
  }
  .sm\:p-20 {
    padding: 20px;
  }
  .sm\:p-10 {
    padding: 10px;
  }
  .sm\:p-12 {
    padding: 12px;
  }
  .sm\:pt-20 {
    padding-top: 20px;
  }
  .sm\:pr-20 {
    padding-right: 20px;
  }
  .sm\:pb-20 {
    padding-bottom: 20px;
  }
  .sm\:pl-20 {
    padding-left: 20px;
  }
  .sm\:m-0 {
    margin: 0;
  }
  .sm\:m-20 {
    padding: 20px;
  }
  .sm\:mt-20 {
    margin-top: 20px;
  }
  .sm\:mr-20 {
    margin-right: 20px;
  }
  .sm\:mb-20 {
    margin-bottom: 20px;
  }
  .sm\:ml-20 {
    margin-left: 20px;
  }
  .sm\:c-white {
    color: white;
  }
  .sm\:bg-ccc {
    background-color: #ccc;
  }
  .sm\:bg-eee {
    background-color: #eee;
  }
  .sm\:bg-dark {
    background-color: #333;
  }
  .sm\:bg-white {
    background-color: white;
  }
  .sm\:bd-none {
    border: none;
  }
  .sm\:outl-none {
    outline: none;
  }
  .sm\:ps-rel {
    position: relative;
  }
  .sm\:ps-abs {
    position: absolute;
  }
  .sm\:ps-fx {
    position: fixed;
  }
  .sm\:top-0 {
    top: 0;
  }
  .sm\:top-50 {
    top: 50%;
  }
  .sm\:right-0 {
    right: 0;
  }
  .sm\:right-50 {
    right: 50%;
  }
  .sm\:bottom-0 {
    bottom: 0;
  }
  .sm\:bottom-50 {
    bottom: 50%;
  }
  .sm\:left-0 {
    left: 0;
  }
  .sm\:left-50 {
    left: 50%;
  }
  .sm\:center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sm\:gap-5 {
    gap: 5px;
  }
  .sm\:gap-8 {
    gap: 8px;
  }
  .sm\:gap-10 {
    gap: 10px;
  }
  .sm\:gap-12 {
    gap: 12px;
  }
  .sm\:gap-15 {
    gap: 15px;
  }
  .sm\:gap-20 {
    gap: 20px;
  }
  .sm\:center-y-flex {
    display: flex;
    align-items: center;
  }
  .sm\:center-x-flex {
    display: flex;
    justify-content: center;
  }
  .sm\:flex-column {
    flex-direction: column;
  }
  .sm\:flex-column-rev {
    flex-direction: column-reverse;
  }
  .sm\:flex-row-rev {
    flex-direction: row-reverse;
  }
  .sm\:fs-14 {
    font-size: 14px;
  }
  .sm\:fs-18 {
    font-size: 18px;
  }
  .sm\:fs-20 {
    font-size: 20px;
  }
  .sm\:fw-n {
    font-weight: normal;
  }
  .sm\:fw-b {
    font-weight: bold;
  }
  .sm\:m-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .sm\:m-l-auto {
    margin-left: auto;
  }
  .sm\:m-r-auto {
    margin-right: auto;
  }
  .sm\:center-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .sm\:center-y-abs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .sm\:center-x-abs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .sm\:rad-half {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .sm\:rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
  .sm\:w-full {
    width: 100% !important;
  }
  .sm\:w-fit {
    width: fit-content;
  }
  .sm\:w-100 {
    width: 100px;
  }
  .sm\:w-120 {
    width: 120px;
  }
  .sm\:h-full {
    height: 100%;
  }
  .sm\:h-fit {
    height: fit-content;
  }
  .sm\:h-50 {
    height: 50px;
  }
  .sm\:ds-inline-block {
    display: inline-block;
  }
  .sm\:ds-block {
    display: block;
  }
  .sm\:ds-flex {
    display: flex;
  }
  .sm\:ds-grid {
    display: grid;
  }
  .sm\:fs-italic {
    font-style: italic;
  }
  .sm\:tt-uppercase {
    text-transform: uppercase;
  }
  .sm\:tt-capitalize {
    text-transform: capitalize;
  }
  .sm\:tt-lower-case {
    text-transform: lowercase;
  }
  .sm\:ff-system {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .sm\:ls-none {
    list-style-type: none;
  }
}