/* Global Rules Start */

* {
  padding: 0;
  margin: 0;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f5f9;
}

a, span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.button-shape {
  display: block;
  width: fit-content;
  margin: 0;
  margin-bottom: 10px !important;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* Global Rules End */

/* Page Start */

.sidebar {
  width: 16vw;
  height: 100vh;
  box-shadow: 0 0 10px 1px #ddd;
}

.content {
  width: 84vw;
}

/* Page End */

/* Sidebar Start */

li:has(.active) {
  background-color: #eee;
}

.sidebar p::before {
  content: "";
  width: 150%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: -25%;
  bottom: -20px;
}

.sidebar p::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: black;
  border: 5px solid white;
  position: absolute;
  left: 50%;
  bottom: calc(-20px - 10px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sidebar .links li {
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sidebar .links li:hover {
  background-color: #eee;
  cursor: pointer;
}

.sidebar .links a {
  padding: 15px 8px;
  width: 100%;
  display: block;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Sidebar End */

/* Header Start */

header {
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

header input {
  border: none;
  position: absolute;
  left: -10px;
  padding-left: 30px;
  width: 100%;
  height: 100%;
}

header .search {
  height: 40px;
  border: 1px solid #ccc;
  width: 175px;
  overflow: hidden;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

header .search:has(:focus) {
  width: 220px;
}

header .search::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 8px;
  z-index: 2;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

header img {
  width: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

header .icon::before {
  content: "";
  background-color: var(--red-color);
  width: 8px;
  height: 8px;
  position: absolute;
  top: -5px;
  right: -5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* Header End */

/* Dashboard Start */

h1 {
  margin-top: 0 !important;
  position: relative;
}

h1::before {
  content: "";
  width: 140px;
  height: 4px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -10px;
}

h1::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.wrapper {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}

.wrapper > div {
  background-color: white;
  padding: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}

h2 {
  margin: 5px 0;
}

.wrapper span {
  color: var(--grey-color);
  font-weight: 500;
}

/* Dashboard End */

/* Welcome Start */

.welcome img:not(:last-child) {
  width: 150px;
  display: none;
}

.welcome .intro img:last-child {
  position: absolute;
  width: 60px;
  border: 3px solid white;
  box-shadow: 0 0 10px 1px #ddd;
  left: 10px;
  bottom: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}

@media (min-width: 768px) {
  .welcome .intro img:not(:last-child) {
    display: initial;
  }
}

.welcome .body {
  justify-content: space-around;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.welcome .body span {
  margin-top: 5px;
}

.welcome .intro {
  background-color: #eee;
  padding: 20px;
  justify-content: space-between;
  height: 120px;
}

/* Welcome End */

/* Quick Draft Start */

.quick-draft input:not(.button-shape),
.quick-draft textarea {
  border: none;
  outline: none;
  background-color: #eee;
  padding: 10px;
  resize: none;
  font-size: 13px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.quick-draft textarea {
  height: 110px;
  line-height: 1.5;
}

/* Quick Draft End */

/* Yearly Targets Start */

.yearly-targets .target-bar {
  width: 100%;
}

.yearly-targets i {
  min-width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yearly-targets .money i {
  background-color: #0075ff33;
}

.yearly-targets .projectsss i {
  background-color: #f59e0b33;
}

.yearly-targets .team i {
  background-color: #22c55e33;
}

.yearly-targets .target,
.yearly-targets .targetss {
  display: flex;
  align-items: center;
  gap: 10px;
}

.yearly-targets .target-bar {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.yearly-targets p {
  font-weight: bold;
}

.yearly-targets .bar {
  width: 100%;
  height: 3px;
  position: relative;
}

.yearly-targets .money .bar {
  background-color: #0075ff33;
}

.yearly-targets .projectsss .bar {
  background-color: #f59e0b33;
}

.yearly-targets .team .bar {
  background-color: #22c55e33;
}

.yearly-targets .bar::before {
  content: "";
  height: inherit;
  width: 80%;
  background-color: var(--blue-color);
  position: absolute;
}

.yearly-targets .projectsss .bar::before {
  width: 55%;
  background-color: var(--orange-color);
}

.yearly-targets .team .bar::before {
  width: 75%;
  background-color: var(--green-color);
}

.yearly-targets .bar span {
  position: absolute;
  padding: 2px 4px;
  left: 80%;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: white;
  background-color: var(--blue-color);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.yearly-targets .projectsss span {
  left: 55%;
}

.yearly-targets .team span {
  left: 75%;
}

.yearly-targets .bar span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  z-index: -1;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: var(--blue-color);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.yearly-targets .projectsss span::before {
  border-top-color: var(--orange-color);
}

.yearly-targets .team span::before {
  border-top-color: var(--green-color);
}

.yearly-targets .projectsss .bar span {
  background-color: var(--orange-color);
}

.yearly-targets .team .bar span {
  background-color: var(--green-color);
}

/* Yearly Targets End */

/* Tickets Statistics Start */

.tickets-statistics .stat {
  border-radius: 6px;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
  padding: 20px 0;
  gap: 5px;
}

.tickets-statistics .stats {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tickets-statistics .stat p {
  font-weight: bold;

  font-size: 30px;
}

/* Tickets Statistics End */

/* Latest News Start */

.latest-news img {
  width: 100px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.latest-news .time {
  padding: 3px 6px;
  background-color: #eee;
  font-size: 14px;
  margin-left: auto;
  height: fit-content;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.latest-news .new {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.latest-news .new:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-news .text p {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.latest-news .text span {
  font-size: 14px;
}

/* Latest News End */

/* Latest Tasks Start */

.latest-tasks i {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.latest-tasks i:hover {
  cursor: pointer;
  color: var(--red-color);
}

.latest-tasks .del.task {
  opacity: .3;
}

.latest-tasks .del span,
.latest-tasks .del p {
  text-decoration: line-through;
}

.latest-tasks .task {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latest-tasks .task .text p {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.latest-tasks .task:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

/* Latest Tasks End */

/* Top Search Items Start */

.top-search-items .keyword {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.top-search-items .keyword:not(:first-child) span {
  border-radius: 5px;
  background-color: #eee;
  padding: 3px 7px;
  color: black;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.top-search-items p {
  font-weight: 600;
}

/* Top Search Items End */

/* Latest Uploads Start */

.latest-uploads img {
  width: 40px;
  height: 40px;
}

.latest-uploads .upload {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
}

.latest-uploads .upload:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-uploads .size {
  margin-left: auto;
  font-size: 14px;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
  height: fit-content;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.latest-uploads .text p {
  margin-bottom: 5px;
}

/* Latest Uploads End */

/* Last Project Progress Start */

.last-project-progress .progress {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 15px 0;
  padding-left: 35px;
}

.last-project-progress .progress::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-color: var(--blue-color);
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2;
}

.last-project-progress .progress:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 2px;
  background-color: var(--blue-color);
  left: 11px;
  top: 50%;
}

.last-project-progress .progress:last-child::before {
  background-color: white;
}

.last-project-progress .progress:nth-last-child(2)::before {
  animation: change-color .8s infinite alternate;
  -webkit-animation: change-color .8s infinite alternate;
}

@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }

  to {
    background-color: white;
  }
}

/* Last Project Progress End */

/* Reminders Start */

.reminder {
  position: relative;
  margin: 15px 0;
  padding: 5px 0;
  display: flex;
  padding-left: 40px;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.reminders span {
  font-size: 14px;
}

.reminder::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
}

.reminder::after {
  content: "";
  background-color: var(--blue-color);
  width: 2px;
  height: 100%;
  position: absolute;
  left: 27px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.reminder:nth-child(2)::before,
.reminder:nth-child(2)::after {
  background-color: var(--green-color);
}

.reminder:nth-child(3)::before,
.reminder:nth-child(3)::after {
  background-color: var(--orange-color);
}

.reminder:last-child::before,
.reminder:last-child::after {
  background-color: var(--red-color);
}

.reminders p {
  font-weight: 600;
}

/* Reminders End */

/* Latest Post Start */

.latest-post img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.latest-post .post {
  border-top: 1px solid #eee;
}

.latest-post .post {
  line-height: 1.5;
  margin-bottom: 45px;
}

.latest-post .likes input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
}

.latest-post .likes .c-red {
  display: none;
}

.latest-post .likes:has(:checked) i {
  display: none;
}

.latest-post .likes:has(:checked) .c-red {
  display: initial;
}

.latest-post .likes-comments {
  border-top: 1px solid #eee;
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 50px;
}

.latest-post .comments {
  right: 0;
}

.latest-post .likes *:not(input) {
  pointer-events: none;
}

/* Latest Post End */

/* Social Media Stats Start */

.social-media-stats .stat {
  display: flex;
  gap: 20px;
  background-color: #1da1f233;
  color: #1da1f2;
  align-items: center;
}

.social-media-stats .stat i {
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1da1f2;
}

.social-media-stats p {
  font-weight: 500;
}

.social-media-stats a {
  margin-left: auto;
  font-size: 14px;
  background-color: #1da1f2;
  margin-right: 20px;
  margin-bottom: 0 !important;
}

.social-media-stats .stat.facebook {
  background-color: #1877f233;
  color: #1877f2;
}

.social-media-stats .facebook i {
  background-color: #1877f2;
}

.social-media-stats .facebook a {
  background-color: #1877f2;
}

.social-media-stats .youtube {
  background-color: #ff000033;
  color: red;
}

.social-media-stats .youtube i {
  background-color: red;
}

.social-media-stats .youtube a {
  background-color: red;
}

.social-media-stats .linkedin {
  background-color: #0077b533;
  color: #0077b5;
}

.social-media-stats .linkedin i {
  background-color: #0077b5;
}

.social-media-stats .linkedin a {
  background-color: #0077b5;
}

/* Social Media Stats End */

/* Projects Start */

.projects {
  min-width: calc(100vw - 16vw - 40px);
}

.projects .table {
  overflow-x: auto;
}

.projects table {
  border-collapse: collapse;
  width: 100%;
}

.projects th {
  background-color: #eee;
}

.projects th,
.projects td {
  text-align: center;
  padding: 15px;
  border: 1px solid #eee;
}

.projects td:first-child {
  text-align: left;
}

.projects tr {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.projects img {
  width: 32px;
  height: 32px;
  margin-left: -15px;
  border: 3px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.projects .images {
  display: flex;
  justify-content: center;
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
}

.projects td:last-child {
  width: 200px;
}

.projects td:last-child span {
  color: white;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 60%;
  padding: 4px 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.projects .pending {
  background-color: var(--orange-color);
}

.projects .in-progress {
  background-color: var(--blue-color);
}

.projects .completed {
  background-color: var(--green-color);
}

.projects .rejected {
  background-color: var(--red-color);
}

.projects tr:hover {
  background-color: #f6f6f6;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .projects td:last-child span {
    width: fit-content;
  }
}

/* Projects End */

/* Settings Page Start */

/* Site Control Start */

.custom-checkbox {
  position: relative;
  background-color: #eee;
  height: 30px;
  width: 85px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.custom-checkbox:has(:checked) {
  background-color: var(--blue-color);
}

.custom-checkbox::before {
  content: "\58";
  font-family: "Font Awesome 6 Free";
  width: 20px;
  height: 20px;
  background-color: white;
  left: 6px;
  top: 50%;
  z-index: 2;
  position: absolute;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  transition: .5s;
  font-size: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.custom-checkbox:has(:checked)::before {
  left: calc(100% - 26px);
  content: "\f00c";
  color: var(--blue-color);
}

.custom-checkbox input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.custom-checkbox:hover,
.custom-checkbox *:hover {
  cursor: pointer;
}

.textarea-style {
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 150px;
  font-size: 12px;
  resize: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* Site Control End */

/* General Info Start */

.general-info form > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.general-info label {
  color: var(--grey-color);
}

.general-info input::placeholder {
  color: var(--grey-color);
}

.general-info input {
  padding: 10px;
  font-size: 12px;
  color: var(--blue-color);
  caret-color: var(--blue-color);
  border: 1px solid #ccc;
  outline: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.general-info input:disabled {
  color: #bbb;
  background-color: #f0f4f8;
  cursor: no-drop;
  width: calc(100% - 80px);
  margin-right: 10px;
}

/* General Info End */

/* Security Info Start */

.security-info > div:last-child a {
  background-color: #eee;
  color: black;
}

.security-info > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.security-info > div:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.security-info .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.security-info span {
  font-size: 13px;
}

.security-info > span {
  font-size: 15px;
}

/* Security Info End */

/* Social Info Start */

.social-info .info {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.social-info .info input {
  border: none;
  outline: none;
  padding-left: 12px;
  background-color: #eee;
  width: 100%;
  font-size: 14px;
}

.social-info .info i {
  min-width: 40px;
  height: 40px;
  background-color: #eee;
  border-right: 1px solid #ccc;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.social-info .info:has(:focus) i {
  color: black !important;
}

/* Social Info End */

/* Widgets Control Start */

.widgets-control label {
  position: relative;
  padding-left: 24px;
}

.widgets-control label::before {
  content: "";
  min-width: 14px;
  height: 14px;
  position: absolute;
  border: 2px solid var(--grey-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.widgets-control .widget:has(input:hover) label::before {
  border-color: var(--blue-color);
}

.widgets input:hover {
  cursor: pointer;
}

.widgets-control .widget {
  position: relative;
}

.widgets-control label::after {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 9px;
  top: 50%;
  width: 0;
  height: 0;
  background-color: var(--blue-color);
  color: transparent;
  border-radius: 4px;
  transition: .5s;
  transform: translate(-50%, -50%) rotate(1.5turn);
  -webkit-transform: translate(-50%, -50%) rotate(1.5turn);
  -moz-transform: translate(-50%, -50%) rotate(1.5turn);
  -ms-transform: translate(-50%, -50%) rotate(1.5turn);
  -o-transform: translate(-50%, -50%) rotate(1.5turn);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.widgets-control .widget:has(:checked) label::after {
  width: 18px;
  color: white;
  height: 18px;
  transform: translate(-50%, -50%) rotate(0);
  -webkit-transform: translate(-50%, -50%) rotate(0);
  -moz-transform: translate(-50%, -50%) rotate(0);
  -ms-transform: translate(-50%, -50%) rotate(0);
  -o-transform: translate(-50%, -50%) rotate(0);
}

.widget input {
  opacity: 0;
  min-width: 18px;
  z-index: 2;
  height: 18px;
}

/* Widgets Control End */

/* Backup Manager Start */

.backup-manager .radio {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 28px;
}

.backup-manager .radios {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.backup-manager .radio input {
  position: absolute;
  width: 22px;
  opacity: 0;
  height: 22px;
  z-index: 2;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.backup-manager .radio::before {
  content: "";
  border: 2px solid var(--blue-color);
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.backup-manager .radio::after {
  content: "";
  left: 11px;
  border-radius: 50%;
  top: 50%;
  background-color: var(--blue-color);
  width: 0;
  position: absolute;
  height: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.backup-manager .radio:has(:checked)::after {
  width: 14px;
  height: 14px;
}

.backup-manager .plan-radio {
  width: calc(calc(100% / 3) - 10px);
  border: 2px solid #eee;
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: relative;
  transition: .5s;
  -webkit-transition: .5s;
  font-weight: 500;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.backup-manager .plan-radio input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
}

.backup-manager .plan-radio input:hover {
  cursor: pointer;
}

.backup-manager .plan-radio:has(:checked) {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

/* Backup Manager End */

/* Settings Page End */

/* Profile Page Start */

.overview img {
  width: 120px;
  height: 120px;
}

.overview .level-bar {
  width: 70%;
  background-color: #eee;
  height: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.overview .level-bar::before {
  content: "";
  position: absolute;
  left: 0;
  height: inherit;
  width: 70%;
  background-color: var(--blue-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.overview .custom-checkbox {
  width: 70px;
  height: 20px;
}

.overview .custom-checkbox::before {
  width: 16px;
  height: 16px;
  left: 3px;
}

.overview .custom-checkbox:has(:checked)::before {
  left: calc(100% - 3px - 16px);
}

.overview p:has(span) {
  font-size: 14px;
}

.overview .text {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.overview .text p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.overview .info:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.overview .text p:first-child {
  left: 0;
}

.overview .text p:nth-child(2) {
  left: 33%;
}

.overview .text p:last-child {
  left: 66%;
}

.overview .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.overview .info:hover {
  background-color: #f9f9f9;
}

.overview .infos {
  width: 100%;
}

.overview .info > p {
  font-weight: 500;
  color: var(--grey-color);
}

.overview span {
  font-weight: 500;
}

.overview .person {
  width: 300px;
}

.overview .infos::before {
  content: "";
  position: absolute;
  height: 60%;
  left: -1px;
  width: 1px;
  background-color: #eee;
  top: 20%;
}

/* Overview End */

/* Other Data Start */

.other-data {
  padding: 0 !important;
  display: flex;
  gap: 20px;
  background-color: #f1f5f9 !important;
  flex-wrap: wrap;
}

.other-data > div {
  background-color: white;
  padding: 20px;
  padding-top: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.other-data > div > span {
  font-size: 14px;
  margin-top: 5px;
}

.other-data h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

/* Other Data End */

/* My Skills Start */

.my-skills {
  flex-grow: 1;
}

.my-skills .skills-set {
  padding: 15px 0;
  display: flex;
  gap: 5px;
}

.my-skills .skills-set:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.my-skills .skills span {
  padding: 7px;
  background-color: #eee;
  border-radius: 6px;
  color: black;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* My Skills End */

/* Latest Activities Start */

.latest-activities img {
  min-width: 64px;
  height: 64px;
}

.latest-activities {
  flex-grow: 2;
}

.latest-activities .activity {
  display: flex;
  gap: 10px;
  padding: 20px 0;
  align-items: center;
}

.latest-activities .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.latest-activities .activity .time {
  margin-left: auto;
  display: flex;
  text-align: right;
  flex-direction: column;
  gap: 8px;
}

.latest-activities .activity:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-activities .day {
  color: var(--grey-color);
}

.latest-activities p {
  font-weight: 500;
}

/* Latest Activities End */

/* Profile Page End */

/* Projects Page Start */

.project {
  padding-bottom: 8px !important;
}

.project p {
  font-weight: 500;
}

.project .title-date {
  display: flex;
  justify-content: space-between;
}

.project .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project .team {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-left: 17px;
}

.project img {
  position: relative;
  min-width: 40px;
  height: 40px;
  border: 2px solid white;
  margin-left: -20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.project .titles {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.project .titles span {
  background-color: #eee;
  padding: 3px 6px;
  border-radius: 6px;
  font-size: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.project img:hover {
  z-index: 3;
  cursor: pointer;
}

.project .price-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.project .text span {
  font-size: 13px;
}

.project .price-bar .bar {
  width: 50%;
  background-color: #eee;
  position: relative;
  height: 9px;
  border-radius: 9px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.project .price-bar .bar::before {
  content: "";
  height: inherit;
  width: 80%;
  position: absolute;
  border-radius: 8px;
  background-color: var(--green-color);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.project .price-bar .bar.red::before {
  background-color: var(--red-color);
}

.project .price-bar .bar.blue::before {
  background-color: var(--blue-color);
}

.project:first-child .bar::before {
  width: 50%;
}

.project:nth-child(3) .bar::before {
  width: 100%;
}

.project:nth-child(4) .bar::before {
  width: 65%;
}

.project .bar.w40::before {
  width: 40%;
}

.project .bar.w50::before {
  width: 50%;
}

.project .bar.w60::before {
  width: 60%;
}

.project .bar.w65::before {
  width: 65%;
}

.project .bar.w70::before {
  width: 70%;
}

.project .bar.w80::before {
  width: 80%;
}

.project .bar.w90::before {
  width: 90%;
}

.project .bar.wf::before {
  width: 100%;
}

.project .price {
  font-size: 14px;
}

.project .date {
  font-size: 13px;
}

/* Projects Page End */