/* Global Rules Start */

* {
  padding: 0;
  margin: 0;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f5f9;
}

a, span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.button-shape {
  display: block;
  width: fit-content;
  margin: 0;
  margin-bottom: 10px !important;
  padding: 4px 8px;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* Global Rules End */

/* Page Start */

.sidebar {
  width: 16vw;
  height: 100vh;
  box-shadow: 0 0 10px 1px #ddd;
}

.content {
  width: 84vw;
}

/* Page End */

/* Sidebar Start */

li:has(.active) {
  background-color: #eee;
}

.sidebar p::before {
  content: "";
  width: 150%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: -25%;
  bottom: -20px;
}

.sidebar p::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: black;
  border: 5px solid white;
  position: absolute;
  left: 50%;
  bottom: calc(-20px - 10px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sidebar .links li {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sidebar .links li:hover {
  background-color: #eee;
  cursor: pointer;
}

.sidebar .links a {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Sidebar End */

/* Header Start */

header {
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

header input {
  border: none;
  position: absolute;
  left: -10px;
  padding-left: 30px;
  width: 100%;
  height: 100%;
}

header .search {
  height: 40px;
  border: 1px solid #ccc;
  width: 175px;
  overflow: hidden;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

header .search:has(:focus) {
  width: 220px;
}

header .search::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 8px;
  z-index: 2;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

header img {
  width: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

header .icon::before {
  content: "";
  background-color: var(--red-color);
  width: 8px;
  height: 8px;
  position: absolute;
  top: -5px;
  right: -5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* Header End */

/* Dashboard Start */

h1 {
  margin-top: 0 !important;
  position: relative;
}

h1::before {
  content: "";
  width: 140px;
  height: 4px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -10px;
}

h1::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.wrapper {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}

.wrapper > div {
  background-color: white;
  padding: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}

h2 {
  margin: 5px 0;
}

.wrapper span {
  color: var(--grey-color);
  font-weight: 500;
}

/* Dashboard End */

/* Welcome Start */

.welcome img:not(:last-child) {
  width: 150px;
  display: none;
}

.welcome .intro img:last-child {
  position: absolute;
  width: 60px;
  border: 3px solid white;
  box-shadow: 0 0 10px 1px #ddd;
  left: 10px;
  bottom: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}

@media (min-width: 768px) {
  .welcome .intro img:not(:last-child) {
    display: initial;
  }
}

.welcome .body {
  justify-content: space-around;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.welcome .body span {
  margin-top: 5px;
}

.welcome .intro {
  background-color: #eee;
  padding: 20px;
  justify-content: space-between;
  height: 120px;
}

/* Welcome End */

/* Quick Draft Start */

.quick-draft input:not(.button-shape),
.quick-draft textarea {
  border: none;
  outline: none;
  background-color: #eee;
  padding: 10px;
  resize: none;
  font-size: 13px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.quick-draft textarea {
  height: 110px;
  line-height: 1.5;
}

/* Quick Draft End */

/* Yearly Targets Start */

.yearly-targets .target {
  display: flex;
  gap: 10px;
  align-items: center;
}

.yearly-targets i {
  color: var(--blue-color);
  background-color: #0075ff33;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yearly-targets .projects i {
  color: var(--orange-color);
  background-color: #f59e0b33;
}

.yearly-targets .team i {
  color: var(--green-color);
  background-color: #22c55e33;
}

.yearly-targets .target-bar {
  width: 83%;
}

.yearly-targets .bar {
  width: 100%;
  background-color: #0075ff33;
  position: relative;
  height: 3px;
}

.yearly-targets .bar::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: var(--blue-color);
}

.yearly-targets .projects .bar {
  background-color: #f59e0b33;
}

.yearly-targets .projects .bar::before {
  background-color: var(--orange-color);
  width: 55%;
}

.yearly-targets .team .bar {
  background-color: #22c55e33;
}

.yearly-targets .team .bar::before {
  background-color: var(--green-color);
  width: 75%;
}

.yearly-targets .bar span {
  position: absolute;
  background-color: var(--blue-color);
  color: white;
  left: 80%;
  transform: translate(-50%, calc(-100% - 10px));
  padding: 3px 5px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transform: translate(-50%, calc(-100% - 10px));
  -moz-transform: translate(-50%, calc(-100% - 10px));
  -ms-transform: translate(-50%, calc(-100% - 10px));
  -o-transform: translate(-50%, calc(-100% - 10px));
}

.yearly-targets .bar span::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  border: 5px solid transparent;
  border-top-color: var(--blue-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.yearly-targets .projects .bar span {
  left: 55%;
  background-color: var(--orange-color);
}

.yearly-targets .projects .bar span::before {
  border-top-color: var(--orange-color);
}

.yearly-targets .team .bar span {
  left: 75%;
  background-color: var(--green-color);
}

.yearly-targets .team .bar span::before {
  border-top-color: var(--green-color);
}

.yearly-targets .target-bar {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.yearly-targets p {
  font-weight: bold;
}

/* Yearly Targets End */

/* Tickets Statistics Start */

.tickets-statistics .stat {
  border-radius: 6px;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
  padding: 20px 0;
  gap: 5px;
}

.tickets-statistics .stats {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tickets-statistics .stat p {
  font-weight: bold;

  font-size: 30px;
}

/* Tickets Statistics End */

/* Latest News Start */

.latest-news img {
  width: 100px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.latest-news .time {
  padding: 3px 6px;
  background-color: #eee;
  font-size: 14px;
  margin-left: auto;
  height: fit-content;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.latest-news .new {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.latest-news .new:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-news .text p {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.latest-news .text span {
  font-size: 14px;
}

/* Latest News End */

/* Latest Tasks Start */

.latest-tasks i {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.latest-tasks i:hover {
  cursor: pointer;
  color: var(--red-color);
}

.latest-tasks .del.task {
  opacity: .3;
}

.latest-tasks .del span,
.latest-tasks .del p {
  text-decoration: line-through;
}

.latest-tasks .task {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latest-tasks .task .text p {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.latest-tasks .task:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

/* Latest Tasks End */

/* Top Search Items Start */

.top-search-items .keyword {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.top-search-items .keyword:not(:first-child) span {
  border-radius: 5px;
  background-color: #eee;
  padding: 3px 7px;
  color: black;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.top-search-items p {
  font-weight: 600;
}

/* Top Search Items End */

/* Latest Uploads Start */

.latest-uploads img {
  width: 40px;
  height: 40px;
}

.latest-uploads .upload {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
}

.latest-uploads .upload:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-uploads .size {
  margin-left: auto;
  font-size: 14px;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
  height: fit-content;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.latest-uploads .text p {
  margin-bottom: 5px;
}

/* Latest Uploads End */

/* Last Project Progress Start */

.last-project-progress .progress {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 15px 0;
  padding-left: 35px;
}

.last-project-progress .progress::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-color: var(--blue-color);
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2;
}

.last-project-progress .progress:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 2px;
  background-color: var(--blue-color);
  left: 11px;
  top: 50%;
}

.last-project-progress .progress:last-child::before {
  background-color: white;
}

.last-project-progress .progress:nth-last-child(2)::before {
  animation: change-color .8s infinite alternate;
  -webkit-animation: change-color .8s infinite alternate;
}

@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }

  to {
    background-color: white;
  }
}

/* Last Project Progress End */

/* Reminders Start */

.reminder {
  position: relative;
  margin: 15px 0;
  padding: 5px 0;
  display: flex;
  padding-left: 40px;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.reminders span {
  font-size: 14px;
}

.reminder::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
}

.reminder::after {
  content: "";
  background-color: var(--blue-color);
  width: 2px;
  height: 100%;
  position: absolute;
  left: 27px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.reminder:nth-child(2)::before,
.reminder:nth-child(2)::after {
  background-color: var(--green-color);
}

.reminder:nth-child(3)::before,
.reminder:nth-child(3)::after {
  background-color: var(--orange-color);
}

.reminder:last-child::before,
.reminder:last-child::after {
  background-color: var(--red-color);
}

.reminders p {
  font-weight: 600;
}

/* Reminders End */

/* Latest Post Start */

.latest-post img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.latest-post .person,
.latest-post .post {
  border-bottom: 1px solid #eee;
}

.latest-post .post {
  line-height: 1.5;
  margin-bottom: 45px;
}

.latest-post .likes input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
}

.latest-post .likes .c-red {
  display: none;
}

.latest-post .likes:has(:checked) i {
  display: none;
}

.latest-post .likes:has(:checked) .c-red {
  display: initial;
}

.latest-post .likes-comments {
  bottom: 0;
  left: 10px;
  width: calc(100% - 10px);
  height: 50px;
}

.latest-post .comments {
  right: 10px;
}

.latest-post .likes *:not(input) {
  pointer-events: none;
}

/* Latest Post End */

/* Social Media Stats Start */

.social-media-stats .stat {
  display: flex;
  gap: 20px;
  background-color: #1da1f233;
  color: #1da1f2;
  align-items: center;
}

.social-media-stats .stat i {
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1da1f2;
}

.social-media-stats p {
  font-weight: 500;
}

.social-media-stats a {
  margin-left: auto;
  font-size: 14px;
  background-color: #1da1f2;
  margin-right: 20px;
  margin-bottom: 0 !important;
}

.social-media-stats .stat.facebook {
  background-color: #1877f233;
  color: #1877f2;
}

.social-media-stats .facebook i {
  background-color: #1877f2;
}

.social-media-stats .facebook a {
  background-color: #1877f2;
}

.social-media-stats .youtube {
  background-color: #ff000033;
  color: red;
}

.social-media-stats .youtube i {
  background-color: red;
}

.social-media-stats .youtube a {
  background-color: red;
}

.social-media-stats .linkedin {
  background-color: #0077b533;
  color: #0077b5;
}

.social-media-stats .linkedin i {
  background-color: #0077b5;
}

.social-media-stats .linkedin a {
  background-color: #0077b5;
}

/* Social Media Stats End */

/* Projects Start */

.projects {
  min-width: calc(100vw - 16vw - 40px);
}

.projects .table {
  overflow-x: auto;
}

.projects table {
  border-collapse: collapse;
  width: 100%;
}

.projects th {
  background-color: #eee;
}

.projects th,
.projects td {
  text-align: center;
  padding: 15px;
  border: 1px solid #eee;
}

.projects tr {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.projects img {
  width: 32px;
  height: 32px;
  margin-left: -15px;
  border: 3px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.projects .images {
  display: flex;
  justify-content: center;
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
}

.projects td:last-child {
  width: 200px;
}

.projects td:last-child span {
  color: white;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 4px 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.projects .pending {
  background-color: var(--orange-color);
}

.projects .in-progress {
  background-color: var(--blue-color);
}

.projects .completed {
  background-color: var(--green-color);
}

.projects .rejected {
  background-color: var(--red-color);
}

.projects tr:hover {
  background-color: #f6f6f6;
}

/* Projects End */