@media (max-width: 768px) {
  /* Sidebar Start */

  .sidebar span {
    display: none;
  }

  .sidebar li {
    justify-content: center;
    height: 40px;
    width: 40px !important;
  }

  .sidebar p::before,
  .sidebar p::after {
    content: none;
  }

  /* Sidebar End */

  /* Dashboard Start */

  .wrapper {
    grid-template-columns: calc(84vw - 40px);
  }

  /* Dashboard End */

  /* Header Start */

  header {
    padding-left: 10px;
    padding-right: 10px;
  }

  header:has(:focus) {
    flex-direction: column-reverse;
    height: fit-content;
    padding: 10px;
  }

  header:has(:focus) .search {
    width: 102%;
  }

  header:has(:focus) .avatar-profile {
    justify-content: space-between;
    width: 100%;
  }

  /* Header End */

  /* Welcome Start */

  .welcome .intro img:not(:last-child) {
    display: none;
  }

  .welcome .intro {
    text-align: center;
    justify-content: center;
  }

  .welcome .intro img:last-child {
    left: 10px;
  }

  /* Welcome End */

  .wrapper h2 {
    font-size: 18px;
  }

  /* Yearly Targets Start */

  .yearly-targets i {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
  }

  .yearly-targets .bar span {
    font-size: 12px;
    top: -18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

  /* Yearly Targets End */

  /* Tickets Statistics Start */

  .tickets-statistics .stat p {
    font-size: 20px;
  }

  .tickets-statistics .stat {
    padding: 10px 0;
  }

  /* Tickets Statistics End */

  /* Latest News Start */

  .latest-news .new {
    flex-direction: column;
    text-align: center;
  }

  .latest-news .time {
    margin-left: initial;
  }

  /* Latest News End */

  /* Latest Tasks Start */

  .latest-tasks p,
  .latest-tasks span {
    font-size: 14px;
    line-height: 1.5;
  }

  /* Latest Tasks End */

  /* Top Search Items Start */

  .top-search-items .keyword:first-child span:last-child {
    font-size: 14px;
  }

  /* Top Search Items End */

  /* Latest Uploads Start */

  .latest-uploads .text p {
    font-size: 14px;
    width: 111px;
  }

  .latest-uploads .size {
    font-size: 11px;
    padding: 3px;
    transform: translate(-10px, 2px);
    -webkit-transform: translate(-10px, 2px);
    -moz-transform: translate(-10px, 2px);
    -ms-transform: translate(-10px, 2px);
    -o-transform: translate(-10px, 2px);
}

  /* Latest Uploads End */

  /* Last Project Progress Start */

  .last-project-progress .progress {
    font-size: 14px;
    width: 100%;
    line-height: 1.2;
  }

  /* Last Project Progress End */

  /* Reminders Start */

  .reminder:last-child p {
    font-size: 14px;
    line-height: 1.5;
  }

  /* Reminders End */

  /* Social Media Stats Start */

  .social-media-stats p {
    font-size: 13px;
  }

  .social-media-stats .stat {
    gap: 8px;
  }

  .social-media-stats a {
    margin-right: 8px;
    font-size: 10px;
  }

  .social-media-stats i {
    min-width: 40px !important;
    font-size: 18px;
    min-height: 40px !important;
  }

  /* Social Media Stats End */

  /* Projects Start */

  .projects td {
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
  }

  .projects th {
    font-size: 12px;
    padding: 10px;
  }

  .projects .images {
    transform: translateX(6.5px);
    -webkit-transform: translateX(6.5px);
    -moz-transform: translateX(6.5px);
    -ms-transform: translateX(6.5px);
    -o-transform: translateX(6.5px);
}

  .projects td:last-child span {
    width: 70px;
  }

  .projects img {
    width: 24px;
    height: 24px;
    border-width: 2px;
    margin-left: -13px;
  }

  /* Projects End */

  /* Settings Page Start */

  /* General Info Start */

  .general-info input:disabled {
    width: calc(100% - 63px);
    margin-right: 8px;
  }

  /* General Info End */

  /* Security Info Start */

  .security-info span {
    font-size: 12px;
  }

  .security-info p {
    font-size: 14px;
    line-height: 1.2;
  }

  .security-info .text {
    gap: 4px;
  }

  /* Security Info End */

  /* Backup Manager Start */

  .backup-manager .plan-radio {
    width: 100%;
  }

  /* Backup Manager End */

  /* Settings Page End */

  /* Profile Page Start */

  /* Overview Start */

  .overview .text p {
    position: static;
  }

  .overview .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    gap: 5px;
    margin-top: 5px;
  }

  .overview .custom-checkbox {
    margin: -7.5px 0;
  }

  .overview .info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overview .info.job .text p:nth-child(2) {
    line-height: 1.2;
    width: 300px;
    margin-top: -2.5px;
  }

  /* Overview End */

  /* My Skills Start */

  .my-skills .skills-set {
    justify-content: center;
  }

  /* My Skills End */

  /* Latest Activities Start */

  .latest-activities .activity {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .latest-activities .text span {
    font-size: 12px;
    margin: -3px 0;
  }

  .latest-activities .time {
    margin-left: 0 !important;
    gap: 3px !important;
    font-size: 14px;
    margin-top: -3px;
  }

  /* Latest Activities End */

  /* Profile Page End */

  /* Projects Page Start */

  .project {
    padding: 12px !important;
  }

  .project .text p {
    font-size: 14px;
  }

  .project .text span {
    font-size: 12px;
    width: 201px;
    line-height: 1.2;
    margin-top: -5px;
  }

  .project .date {
    transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -o-transform: translateX(-60px);
}

  .project .titles span {
    font-size: 9px;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

  .project .titles {
    gap: 3px;
  }

  /* Projects Page End */

}