/* Global Rules Start */

* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f5f9;
}

:root {
  --main-padding: ;
  --main-margin: ;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transition: .5s;
}

a, span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: initial;
}

/* Global Rules End */

/* Sidebar Start */

.sidebar {
  width: 16vw;
  height: 100vh;
  box-shadow: 0 0 12px 0 #ddd;
  padding: 20px 10px;
}

.sidebar .links li {
  width: 100%;
}

.sidebar span {
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .sidebar span {
    font-size: 13px;
  }
}

.sidebar .links a {
  height: 40px;
  align-items: center;
  width: 100%;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  gap: 8px;
  transition: var(--main-transition);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.sidebar .links a:hover {
  background-color: #f6f6f6;
}

.sidebar .active {
  background-color: #f6f6f6;
}

.content {
  width: 84vw;
  min-height: 100vh;
}

.sidebar p {
  font-weight: bold;
  font-size: 20px;
}

.sidebar p::before {
  content: "";
  width: 160%;
  height: 2px;
  background-color: #333;
  position: absolute;
  bottom: -20px;
  left: -30%;
}

.sidebar p::after {
  content: "";
  width:  8px;
  height: 8px;
  background-color: #333;
  border: 5px solid white;
  position: absolute;
  left: 50%;
  bottom: -28px;
  border-radius: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.sidebar .links {
  margin-top: 50px;
}

/* Sidebar End */

/* Content Start */



/* Content End */

/* Header Start */

header {
  min-height: 60px;
  justify-content: space-between;
}

.search input {
  border: 1px solid #ccc;
  padding-left: 30px;
  width: 160px;
  margin-left: 10px;
  transform: translateX(20px);
  height: 35px;
  font-size: 14px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}

.search::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 38px;
  z-index: 2;
  color: var(--grey-color);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.search input:focus::placeholder {
  opacity: 0;
}

.search input:focus {
  width: 200px;
}

@media (max-width: 768px) {
  .search input {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
  .search::before {
    left: 18px;
  }
  .search:has(:focus)::before {
    left: 6px;
  }

  .search input:focus {
    margin-left: -2px;
  }
}

header img {
  width: 40px;
}

header .icon::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--red-color);
  right: -5px;
  top: -5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Header End */

/* Wrapper Start */

.content h1 {
  margin: 20px 20px 40px;
}

.content h1::before {
  content: "";
  width: 120px;
  height: 3px;
  left: 0;
  bottom: -15px;
  position: absolute;
  background-color: white;
}

.content h1::after {
  content: "";
  width: 50px;
  height: 3px;
  left: 0;
  bottom: -15px;
  position: absolute;
  background-color: #333;
}

.wrapper {
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

@media (min-width: 1200px) {
  h1 {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}

  .wrapper {
    margin-left: 20px;
  }
}

.wrapper > div {
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* Welcome Start */

.wrapper .welcome {
  text-align: right;
}

.wrapper .welcome a {
  margin: 10px;
}

.wrapper .text img {
  width: 60px;
  border: 5px solid white;
  box-sizing: 0 0 12px 0 #ddd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: -30px;
  left: 20px;
}

.wrapper .intro > img {
  width: 180px;
}

.wrapper .welcome .text span {
  color: #888;
  font-weight: 500;
}

.wrapper .welcome a {
  background-color: var(--blue-color);
}

.wrapper .welcome span {
  text-align: left;
}

.wrapper a {
  color: white;
  padding: 6px 8px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: .5px;
  border-radius: 6px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.wrapper a:hover {
  cursor: pointer;
}

.wrapper .welcome a:hover {
  background-color: var(--blue-alt-color);
}

.wrapper .welcome > .text {
  margin-top: 50px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  justify-content: space-around;
}

.wrapper .welcome > .text > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.wrapper .welcome > .text span {
  color: #888;
  font-size: 14px;
}

.wrapper .welcome > .text p {
  margin: 0;
}

.wrapper .welcome a {
  margin-top: 20px;
}

/* Welcome End */

/* Quick Draft Start */

.quick-draft input,
.quick-draft textarea {
  font-size: 12px;
}

.quick-draft textarea {
  resize: none;
  height: 150px;
}

.quick-draft span {
  margin-bottom: 20px;
}

.quick-draft input {
  margin-bottom: 10px;
}

.quick-draft h2 {
  margin-top: 0;
}

.quick-draft .btn-save {
  background-color: var(--blue-color);
  padding: 4px 10px;
  font-size: 16px;
  float: right;
  margin: 10px 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.quick-draft .btn-save:hover {
  cursor: pointer;
  background-color: var(--blue-alt-color);
}

.quick-draft span {
  margin-top: 10px;
}

/* Quick Draft End */

/* Yearly Targets Start */

.wrapper h2 {
  margin: 0;
}

.wrapper > div > span {
  color: var(--grey-color);
}

.wrapper .yearly-targets .target {
  display: flex;
  gap: 20px;
  align-items: center;
}

.wrapper .yearly-targets .target .icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0075ff30;
  color: var(--blue-color);
}

.wrapper .yearly-targets .target-bar {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.wrapper .yearly-targets .target span {
  font-size: 14px ;
}

.wrapper .yearly-targets .targets {
  margin-top: 20px;
}

.wrapper .yearly-targets .target-bar p {
  margin-top: 6px;
  margin-bottom: 9px;
  font-weight: bold;
}

.wrapper .yearly-targets p {
  margin: 0;
}

.wrapper .yearly-targets span {
  color: var(--grey-color);
}

.wrapper .yearly-targets .bar {
  height: 5px;
  width: 100%;
  background-color: #0075ff30;
  position: relative;
}

.wrapper .yearly-targets .bar::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: var(--blue-color);
}

.wrapper .yearly-targets .bar span {
  color: white;
  background-color: var(--blue-color);
  width: 35px;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  left: calc(80% - 17.5px);
  top: -35px;
  border-radius: 6px;
  position: absolute;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  z-index: 2;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.wrapper .yearly-targets .bar span::before {
  content: "";
  border: 8px solid transparent;
  border-top-color: var(--blue-color);
  position: absolute;
  bottom: -14px;
}

.wrapper .yearly-targets .projects .icon {
  background-color: #f59e0b30;
  color: var(--orange-color);
}

.wrapper .yearly-targets .projects .bar {
  background-color: #f59e0b30;
}

.wrapper .yearly-targets .projects .bar::before {
  background-color: var(--orange-color);
  width: 55%;
}

.wrapper .yearly-targets .projects .bar span {
  left: calc(55% - 17.5px);
  background-color: var(--orange-color);
}

.wrapper .yearly-targets .projects .bar span::before {
  border-top-color: var(--orange-color);
}

.wrapper .yearly-targets .team .icon {
  background-color: #22c55e30;
  color: var(--green-color);
}

.wrapper .yearly-targets .team .bar {
  background-color: #22c55e30;
}

.wrapper .yearly-targets .team .bar::before {
  background-color: var(--green-color);
  width: 75%;
}

.wrapper .yearly-targets .team .bar span {
  left: calc(75% - 17.5px);
  background-color: var(--green-color);
}

.wrapper .yearly-targets .team .bar span::before {
  border-top-color: var(--green-color);
}

.wrapper .yearly-targets > span {
  margin-top: 5px;
}

/* Yearly Targets End */

/* Tickets Statistics Start */

.tickets-statistics > span {
  margin-top: 12px;
  margin-bottom: 15px;
}

.tickets-statistics .stat {
  width: calc(50% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.tickets-statistics .total i {
  color: var(--orange-color);
}

.tickets-statistics .pending i {
  color: var(--blue-color);
}

.tickets-statistics .closed i {
  color: var(--green-color);
}

.tickets-statistics .deleted i {
  color: var(--red-color);
}

.tickets-statistics .stat p {
  font-weight: bold;
  font-size: 25px;
}

/* Tickets Statistics End */

/* Latest News Start */

.latest-news img {
  width: 100px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.latest-news .new {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.latest-news .time {
  margin-left: auto;
}

.latest-news .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.latest-news h3 {
  font-size: 16px;
}

.latest-news .text span {
  color: var(--grey-color);
  font-size: 14px;
  font-weight: 500;
}

.latest-news .time {
  background-color: #eee;
  padding: 6px 8px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.latest-news .new:not(:last-child) {
  border-bottom: 1px solid #eee;
}

/* Latest News End */

/* Latest Tasks Start */

.latest-tasks .tasks {
  margin-top: 10px;
}

.latest-tasks i {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.latest-tasks i:hover {
  color: var(--red-color);
  cursor: pointer;
}

.latest-tasks .task {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-tasks .task.done h3,
.latest-tasks .task.done span {
  text-decoration: line-through;
  color: var(--grey-color);
}

.latest-tasks span {
  font-weight: 500;
  color: var(--grey-color);
}

.latest-tasks h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.latest-tasks .task:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-news .task:has(del) {
  border-bottom-color: #f6f6f6;
}

/* Latest Tasks End */

/* Top Search Items Start */

.keywords {
  display: flex;
  flex-direction: column;
}

.keyword {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.keywords p,
.keywords span {
  font-weight: 500;
}

.keyword span {
  color: var(--grey-color);
}

.keyword span.count {
  color: initial;
  background-color: #eee;
  padding: 4px 0;
  font-size: 14px;
  width: 40px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* Top Search Items End */

/* Latest Uploads Start */

.latest-uploads img {
  width: 40px;
}

.latest-uploads .upload {
  padding: 20px 0;
  display: flex;
  gap: 13px;
  align-items: center;
}

.latest-uploads .file-name {
  font-weight: 500;
  margin-bottom: 5px;
}

.latest-uploads .uploads {
  margin-top: 15px;
}

.latest-uploads .size {
  margin-left: auto;
  font-size: 14px;
  color: white;
  padding: 4px 8px;
  background-color: #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: initial !important;
}

.latest-uploads .upload:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-uploads span {
  color: var(--grey-color);
  font-weight: 500;
}

/* Latest Uploads End */

/* Last Project Progress Start */

.last-project-progress li {
  padding: 15px 0;
  font-weight: 500;
  position: relative;
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.last-project-progress img {
  bottom: 10px;
  right: 10px;
  opacity: .5;
}

.last-project-progress li::before {
  content: "";
  margin-right: 10px;
  width: 20px;
  left: 0;
  position: absolute;
  height: 20px;
  border: 2px solid white;
  background-color: var(--blue-color);
  outline: 2px solid var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2;
}

.last-project-progress li:not(:last-child)::after {
  content: "";
  height: 40px;
  width: 2px;
  background-color: var(--blue-color);
  position: absolute;
  left: 11px;
  bottom: -20px;
}

.last-project-progress li:last-child::before {
  background-color: white;
}

.last-project-progress li:nth-last-child(2)::before {
  animation: change-color 1s infinite alternate;
  -webkit-animation: change-color 1s infinite alternate;
}

.wrapper h2 {
  font-weight: 600;
}

@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }

  to {
    background-color: white;
  }
}

.last-project-progress img {
  width: 150px;
}

/* Last Project Progress End */

/* Wrapper End */